body{
	.o-main-components-container{
		.o-overlay-container{
			.o-overlay-item{
				.o_dialog{
					.modal{
						.modal-content{
							.modal-body{
								// .d-flex{
								// 	justify-content: center !important;
								// 	margin: 0 48px !important;
								// 	div{
								// 		.login-barcode-text{
								// 			font-size: 16px;font-weight: 400;
								// 		}
								// 	}
								// }
							}
						}
					}
				}

			}
		}
	}
}